<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="description" content="">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

<!-- Title -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
	integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />

<title>The Palatin - Hotel &amp; Resort Template</title>
<!-- Favicon -->
<link rel="icon" th:href="@{/img/core-img/favicon.ico}">

<!-- Core Stylesheet -->
<link rel="stylesheet" href="" th:href="@{/css/style.css}">


<link rel="stylesheet" href="" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" href="" th:href="@{/css/classy-nav.css}">
<link rel="stylesheet" href="" th:href="@{/css/owl.carousel.min.css}">
<link rel="stylesheet" href="" th:href="@{/css/animate.css}">
<link rel="stylesheet" href="" th:href="@{/css/magnific-popup.css}">
<link rel="stylesheet" href="" th:href="@{/css/font-awesome.min.css}">
<link rel="stylesheet" href="" th:href="@{/css/nice-select.css}">
<link rel="stylesheet" href="" th:href="@{/css/travel-icon.css}">

</head>

<body>
	<!-- Preloader -->
	<div class="preloader d-flex align-items-center justify-content-center">
		<div class="cssload-container">
			<div class="cssload-loading">
				<i></i><i></i><i></i><i></i>
			</div>
		</div>
	</div>

	<!-- ##### Header Area Start ##### -->
	<header class="header-area">
		<!-- Navbar Area -->
		<div class="palatin-main-menu">
			<div class="classy-nav-container breakpoint-off">
				<div class="container">
					<!-- Menu -->
					<nav class="classy-navbar justify-content-between" id="palatinNav">

						<!-- Nav brand -->
						<a th:href="@{/public/}" class="nav-brand"><img
							th:src="@{/img/core-img/logo.png}" alt=""></a>

						<!-- Navbar Toggler -->
						<div class="classy-navbar-toggler">
							<span class="navbarToggler"><span></span><span></span><span></span></span>
						</div>

						<!-- Menu -->
						<div class="classy-menu">

							<!-- close btn -->
							<div class="classycloseIcon">
								<div class="cross-wrap">
									<span class="top"></span><span class="bottom"></span>
								</div>
							</div>

							<!-- Nav Start -->
							<div class="classynav">
								<ul>
									<li class="active"><a th:href="@{/public/}">Home</a></li>
									<li><a th:href="@{/public/about-us}">About Us</a></li>
									<li><a href="#">Pages</a>
										<ul class="dropdown">
											<li><a th:href="@{/public/}">Home</a></li>
											<li><a th:href="@{/public/about-us}">About Us</a></li>
											<li><a th:href="@{/public/services}">Services</a></li>
											<li><a th:href="@{/public/rooms}">Rooms</a></li>
											<li><a th:href="@{/public/blog}">News</a></li>
											<li><a th:href="@{/public/contact}">Contact</a></li>
											<li><a th:href="@{/public/elements}">Elements</a></li>
										</ul></li>
									<li><a href="#">Mega Menu</a>
										<div class="megamenu">
											<ul class="single-mega cn-col-4">
												<li><a th:href="@{/public/}">Admin Login</a></li>
												<li><a th:href="@{/public/about-us}">About Us</a></li>
												<li><a th:href="@{/public/services}">Services</a></li>
												<li><a th:href="@{/public/rooms}">Rooms</a></li>
												<li><a th:href="@{/public/blog}">News</a></li>
												<li><a th:href="@{/public/contact}">Contact</a></li>
												<li><a th:href="@{/public/elements}">Elements</a></li>
											</ul>
											<ul class="single-mega cn-col-4">
												<li style="background-color: red;"><a th:href="@{/log/loging}">Admin Login</a></li>
												<li><a th:href="@{/Catagory/addCatagory}">Add
														Catagory</a></li>

												<li><a th:href="@{/Catagory/viewAllCatagory/0}">view
														All Catagory</a></li>
												<li><a th:href="@{/post/show-all-hotel/0}">Show all
														hotel post</a></li>
												<li><a th:href="@{/logout}">Log Out</a></li>

											</ul>
											<ul class="single-mega cn-col-4">
												<li><a th:href="@{/public/}">Home</a></li>
												<li><a th:href="@{/public/about-us}">About Us</a></li>
												<li><a th:href="@{/public/services}">Services</a></li>
												<li><a th:href="@{/public/rooms}">Rooms</a></li>
												<li><a th:href="@{/public/blog}">News</a></li>
												<li><a th:href="@{/public/contact}">Contact</a></li>
												<li><a th:href="@{/public/elements}">Elements</a></li>
											</ul>
											<ul class="single-mega cn-col-4">
												<li><a th:href="@{/public/}">Home</a></li>
												<li><a th:href="@{/public/about-us}">About Us</a></li>
												<li><a th:href="@{/public/services}">Services</a></li>
												<li><a th:href="@{/public/rooms}">Rooms</a></li>
												<li><a th:href="@{/public/blog}">News</a></li>
												<li><a th:href="@{/public/contact}">Contact</a></li>
												<li><a th:href="@{/public/elements}">Elements</a></li>
											</ul>
										</div></li>
									<li><a th:href="@{/public/services}">Services</a></li>
									<li><a th:href="@{/public/contact}">Contact</a></li>
								</ul>



							</div>
							<!-- Nav End -->
						</div>
					</nav>
				</div>
			</div>
		</div>
	</header>
	<!-- ##### header Area Start ##### -->





	<div class="container" style="margin-top: 13%;">
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-body p-0">
						<div class="row p-5">
							<div class="col-md-6">
								<img th:src="@{/img/bg-img/18.jpg}" style="width: 20%;">
							</div>

							<div class="col-md-6 text-right">
								<!-- <span><b>Name :</b></span><p class="font-weight-bold mb-1" th:text="${firstname}" th:text="${lastname}"></p> -->
								<span><b>Hotel Name :</b></span>
								<p class="text-muted" th:text="${post.postname}">JW Mariat</p>
								<span><b>Hotel Email :</b></span>
								<p class="text-muted" th:text="${post.businessEmail}">JW14@gmail.com</p>
								<span><b>Hotel Location :</b></span>
								<p class="text-muted" th:text="${post.hotelLocation}">Kolkata</p>
								<span><b>Call Number :</b></span>
								<p class="text-muted" th:text="${post.onePhoneNumber}">+91
									5678-8764</p>

							</div>
						</div>

						<hr class="my-5">

						<div class="row pb-5 p-5">
							<div class="col-md-6">
								<p class="font-weight-bold mb-4">Client Information</p>
								<p class="mb-1">
									<b>Name :</b><span th:text="${firstname}"></span><span
										style="margin-left: 1%;"></span>
									<samp th:text="${lastname}"></samp>
								</p>
								<p class="mb-1">
									<b>Email :</b><span th:text="${email}"></span>
								</p>
								<p class="mb-1">
									<b>check-In-Date :</b><span th:text="${checkInDate}"></span>
								</p>
								<p class="mb-1">
									<b>check-Out-Date :</b><span th:text="${checkOutDate}"></span>
								</p>
								<p class="mb-1">
									<b>Total Room :</b><span th:text="${totalRoom}"></span>
								</p>
							</div>

							<div class="col-md-6 text-right">
								<p class="font-weight-bold mb-4">Rules</p>
								<p class="mb-1">
									<span class="text-muted">check-In-Time: </span>10.00 AM
								</p>
								<p class="mb-1">
									<span class="text-muted">check-Out-Time: </span>12.00 PM
								</p>
								<p class="mb-1">
									<span class="text-muted">Hotel ID: </span><span
										th:text="'25sh6sf'+${post.postId}+'hds7zcu'"></span>
								</p>

							</div>
						</div>

						<div class="row p-5">
							<div class="col-md-12">
								<table class="table">
									<thead>
										<tr>

											<!-- <th class="border-0 text-uppercase small font-weight-bold">SGST</th>
											<th class="border-0 text-uppercase small font-weight-bold">CGST</th>
											<th class="border-0 text-uppercase small font-weight-bold">Total Room</th> -->
											<th class="border-0 text-uppercase small font-weight-bold">Reason</th>
											<th class="border-0 text-uppercase small font-weight-bold">Price</th>
											<th class="border-0 text-uppercase small font-weight-bold">Amount</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>SGST</td>
											<td>2.5%</td>
											<td th:text="${CGSTSGST}"></td>
										</tr>
										<tr>
											<td>CGST</td>
											<td>2.5%</td>
											<td th:text="${CGSTSGST}"></td>
										</tr>
										<tr>
											<td>Total Room</td>
											<td th:text="${totalRoom}"></td>
											<td th:text="${totalroomandtotalprice}"></td>
										</tr>
										<!-- <tr>
											<td>Total Day</td>
											<td th:text="${checkInDate}"></td>
											<td></td>
										</tr> -->
										<tr>
											<td>Par Room Price</td>
											<td th:text="${post.romePrice}"></td>
											<td th:text="${post.romePrice}"></td>
										</tr>
										<tr>
											<td>Total Amount</td>
											<td>0</td>
											<td th:text="${totalamount}"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<p>
							<b>If you book this hotel pay only 20% in this time</b>
						</p>
						<p>
							Total amount pay in this time :<b
								style="margin-left: 1%; color: red;" th:text="${payamount}"></b>
						</p>

						<div class="form-group">
							<input type="hidden" class="form-control" id="pament_field"
								placeholder="amount" th:value="${payamount}">
						</div>
						<button onclick=" pamentStart()" type="button"
							class="btn btn-primary btn-lg btn-block">Pay</button>

						<a th:href="@{/booking/show-hotel}" type="button" class="btn btn-secondary btn-lg btn-block">Cancel</a>

					</div>
				</div>
			</div>
		</div>

		<div class="text-light mt-5 mb-5 text-center small">
			by : <a class="text-light" target="_blank"
				href="http://totoprayogo.com">totoprayogo.com</a>
		</div>

	</div>






	<!-- ##### Footer Area Start ##### -->
	<footer class="footer-area">
		<div class="container">
			<div class="row">

				<!-- Footer Widget Area -->
				<div class="col-12 col-lg-5">
					<div class="footer-widget-area mt-50">
						<a href="#" class="d-block mb-5"><img
							th:src="@{/img/core-img/logo.png}" alt=""></a>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							Donec malesuada lorem maximus mauris sceleri sque, at rutrum
							nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus
							finibus.</p>
					</div>
				</div>

				<!-- Footer Widget Area -->
				<div class="col-12 col-md-6 col-lg-4">
					<div class="footer-widget-area mt-50">
						<h6 class="widget-title mb-5">Find us on the map</h6>
						<img th:src="@{/img/bg-img/footer-map.png}" alt="">
					</div>
				</div>

				<!-- Footer Widget Area -->
				<div class="col-12 col-md-6 col-lg-3">
					<div class="footer-widget-area mt-50">
						<h6 class="widget-title mb-5">Subscribe to our newsletter</h6>
						<form action="#" method="post" class="subscribe-form">
							<input type="email" name="subscribe-email" id="subscribeemail"
								placeholder="Your E-mail">
							<button type="submit">Subscribe</button>
						</form>
					</div>
				</div>

				<!-- Copywrite Text -->
				<div class="col-12">
					<div class="copywrite-text mt-30">
						<p>
							<a href="#"> <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;
							</a>
							<script>
								document.write(new Date().getFullYear());
							</script>
							All rights reserved | This template is made with <i
								class="fa fa-heart-o" aria-hidden="true"></i> by <a
								href="https://colorlib.com" target="_blank">Colorlib</a>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- ##### Footer Area End ##### -->

	<!-- ##### All Javascript Script ##### -->
	
	<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
	<!-- jQuery-2.2.4 js -->
	<script th:src="@{/js/jquery/jquery-2.2.4.min.js}"></script>
	<!-- Popper js -->
	<script th:src="@{/js/bootstrap/popper.min.js}"></script>
	<!-- Bootstrap js -->
	<script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
	<!-- All Plugins js -->
	<script th:src="@{/js/plugins/plugins.js}"></script>
	<!-- Active js -->
	<script th:src="@{/js/active.js}"></script>
	<script th:src="@{/js/script.js}"></script>

</body>

</html>